<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ path('app_index') }}">Wild Series</a>
      <a class="nav-item nav-link" href="#">Liste des séries</a>
      <a class="nav-item nav-link" href="#">Liste des acteurs</a>
      <a class="nav-item nav-link" href="#">Connexion</a>
    </div>
  </div>
</nav>